{% extends 'newsapp/base.html' %}
{% block content %}
<section class="form-page">
    <h1>Login to Signal Daily</h1>
    <form method="post" class="content-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">{{ form.username.label_tag }}{{ form.username }}</div>
        <div class="form-group">{{ form.password.label_tag }}{{ form.password }}</div>
        <button type="submit" class="button">Login</button>
    </form>
    <p><a href="{% url 'password_reset_request' %}">Reset password</a></p>
</section>
{% endblock %}
